.custom-button {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.custom-button:hover {
    background-color: #333;
    transform: scale(1.05);
    }